/* document */
html, body {
    height: 100%;
    width: 100%;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* general */
button {
    width: 6rem;
    height: 3rem;
}

input {
    width: 12rem;
    height: 2.6rem;
}


/* game info */
#leave-room-cntr {
    display: none;
}

#game-info-cntr {
    display: none;
}


/* game */
#board {
    display: none;
    background-color: blue;
    padding: 1rem;
    /* border: 1px solid black; */
}

.row {
    display: flex;
}

.field {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 0.15rem;
    background-color: white;
    border: 2px solid none;
}

/* Custom bootstrap */
.white {
    background-color: white;
}

.gray {
    background-color: gray;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

/* Animations */
.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
